<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">{{question.text}}<small> by {{question.author}}</small></h3>
  </div>
  <div class="panel-body">
    <u>Additional Notes:</u>
    <br>
    {{question.notes}}
  </div>
  <div class="panel-footer">
    {{update-question question=question update="update"}}
    <button class="btn btn-danger btn-xs"{{action 'delete' question}}>Delete</button>
  </div>
</div>
